<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <strong>12.09.2019</strong>
  </div>

  <div>
    <p>dsakmkldmaksmdklsakdmsakdlksamdklsakldmasmdlsdsalkmdlkasdlkmsakldmksamdkmsakmdlkmdksamdmsalkmdkasmd</p>
    <p>dsakmkldmaksmdklsakdmsakdlksamdklsakldmasmdlsdsalkmdlkasdlkmsakldmksamdkmsakmdlkmdksamdmsalkmdkasmd</p>
    <p>dsakmkldmaksmdklsakdmsakdlksamdklsakldmasmdlsdsalkmdlkasdlkmsakldmksamdkmsakmdlkmdksamdmsalkmdkasmd</p>
    <p>dsakmkldmaksmdklsakdmsakdlksamdklsakldmasmdlsdsalkmdlkasdlkmsakldmksamdkmsakmdlkmdksamdmsalkmdkasmd</p>
  </div>
</div>
